# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
ios/
android/
*.ipa
*.apk
*.aab

# Environment
.env
.env.local
.env.*.local

# EAS
.eas/build

# Editor
.DS_Store
*.swp
.vscode/

# TypeScript
*.tsbuildinfo
